<div class="header">
  <div class="wrap">
      <a href="index.html">
        <img class="headerLogo" src="/image/logo.png"/>
      </a>
    <div class="gnb">
      <ul>
        <li>
          <a href="#" class="mainnav">상세조회</a>
        </li>
        <li>
          <a href="#" class="mainnav">장바구니</a>
        </li>
        <li>
          <a href="mypage.html" class="mainnav">마이페이지</a>
        </li>
        <li>
          <a href="#" class="mainnav">커뮤니티</a>
        </li>
        <li>
          <a href="login.html" class="mainnav headerLoginBtn">로그인</a>
        </li>
      </ul>
    </div>
  </div>
</div>